/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body{
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

md-sidenav {
    width: 200px;
  }

.main-content {
    padding: 32px;
}